@import '~styles/variables';

.btn-to-catalog {
  width: 100%;
  margin-bottom: 8px;
}

.btn-to-catalog-text {
  width: 100%;
}

.btn-to-profile {
  width: 100%;
}

.btn-to-profile-text {
  width: 100%;
}
