$color-1: #000;
$color-2: #464646;
$color-3: #6b6b6b;
$color-4: #ad6a75;
$color-5: #fed8d9;
$color-6: #b28e8c;
$color-7: #fee2cc;
$color-8: #fefcf8;
$color-9: #fff;
$color-10: #e792a0;
$color-11: #f9f3ef;
$color-12: #cc9592;
$color-13: #d6b3b1;
$color-14: #f0e6dd;
$color-15: #fff6f6;
$color-16: #b8263e;
$color-17: #559336;
