$ui-md: '992px';
$ui-sm: '768px';
$ui-xs: '576px';

$ui-mouse-device: '(hover: hover) and (pointer: fine)';
$ui-touch-device: '(hover: none) and (pointer: coarse)';
$ui-stylus-device: '(hover: none) and (pointer: fine)';
