@import '~styles/variables';

.wrapper-products-list {
  display: flex;
  flex-direction: column;

  &__loader {
    margin: auto 0;
  }
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 30px;
  row-gap: 30px;

  &__product-item {
    transform: scale(1);
    transition: transform 0.3s;

    @media ($ui-mouse-device) {
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
